{% extends "app.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <h3>Add New Product</h3>
        </div>
        <div class="row">
            <div class="form-group">
                
                <form action="/products" method="post">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" class="form-control" name="title" placeholder="Enter product title" required><br>
                    <label for="category">Category:</label>
                    <select name="category" id="category" required>
                        <option value="Components">Components</option>
                        <option value="Accessories">Accessories</option>
                        <option value="Storage">Storage</option>
                    </select>
                    <label for="quantity" class="form-label">Quantity:</label>
                    <input type="number" class="form-control" name="quantity" placeholder="Quantity">
                    
                    <button type="submit" class="btn btn-primary">Create</button><br><br>
                </form>
                
            </div>
        </div>
        <a href="/products" class="btn btn-primary">BACK</a>
    </div>
{% endblock %}